.nav-bar {
    margin-top: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none !important;
    color: #10101A !important;
    font: normal normal bold 18px/24px Open Sans;

}

.brand-icon {
    width: 344px;
    height: 57px;
    margin-left: 10rem;
}