

.about-us-testimonial-wrapper, .about-us-action-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #7878FF 0 0 no-repeat padding-box;
    border-radius: 15px;
    margin-top: 2rem;
    color: #FFFFFF;
}

.about-us-testimonial-body{
    width: 50%;
    margin-top: 2rem;
}

.about-us-testimonial-wrapper{
    height: 400px;
}

.about-us-action-banner{
    height: 300px;
}

.about-us-action-banner-body{
    width: 40%;
    margin-top: 2rem;
}