
.info-card h3 {
    max-width: 70%;
    font-weight: 700;

}

.info-card h4 {
    color: #707070;
}

.info-card span {
    color: #707070;
}

.info-card button {
    background: #FFD400 0 0 no-repeat padding-box;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    font-weight: 500;
    margin-top: 1rem;

}