/*Contact us section*/
.contact-us-section {
    margin-top: 5rem;
}

.contact-us-title {
    margin-left: 10rem;
    margin-bottom: 2rem;
    color: #10101A;
    font-size: 40px;
    font-weight: 700;
}

.contact-us-form {
    margin-left: 10rem;
}

.contact-us-form label {
    font-weight: 700;
    letter-spacing: 0;
    color: #707070;
}

.contact-us-form input, .contact-us-form select {
    height: 40px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    width: 80%;
    border: 1px solid #c1bdbd;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.contact-us-form textarea {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #c1bdbd;
    border-radius: 5px;
    width: 80%;
}

.contact-us-form label {
    margin-bottom: 0.9rem;
}


.contact-us-form-button {
    background: #7878FF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 217px;
    height: 59px;
    border: none;
    margin-top: 2rem;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.contact-us-image {
    width: 60%;

}