/*footer section*/
.footer-section-wrapper {
    background: #7878FF 0 0 no-repeat padding-box;
    height: 400px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}


.footer-section-column-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-section-column-wrapper h6 {
    font-size: 18px;
    font-weight: 700;
}


.footer-section-column-wrapper h6 {
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
}

.footer-section-column-wrapper span {
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.footer-section-column-wrapper a {
    color: #FFFFFF !important;
    margin-bottom: 10px;
    text-decoration: none;
}

.newsletter-input {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 15px;
}

.newsletter-submit {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border-radius: 10px;
    border: none;
    width: 180px;
    height: 45px;
    margin-top: 20px;
    color: #10101A;
    font-weight: 700;
}

.footer-section-divider {
    border: 1px solid #FFFFFF;
    margin-top: 20px;
}

.footer-section-copy-right {
    color: #cecece;
    font-size: 15px;
}

.social-media-row {
    margin-top: 20px;
}

.social-media-row img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}