
.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-bar-link {
    text-decoration: none !important;
    color: #10101A !important;
    font: normal normal bold 18px/24px Open Sans;

}

.brand-icon {
    width: 344px;
    height: 57px;
    margin-left: 10rem;
}

.nav-bar-ribbon {
    background: #7878FF 0 0 no-repeat padding-box;
    height: 33px;
}

.nav-bar-button {
    background: #7878FF 0 0 no-repeat padding-box;
    border-radius: 50px;
    width: 170px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 10px;
}

.newsletter-input {
    padding-left: 15px;
}

